header{
    display: flex;
    max-width: 780px;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}

header nav{
    flex-grow: 1;
    text-align: center;
}

header nav a{
    color: rgba(255, 255, 255, .6);
    padding: 10px 10px;
    text-decoration: none;
}

header nav a:hover{
    color: white;
}

header div.social{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

header div.social a{
    display: inline-block;
    margin: 0 10px;
}

header div.social a svg{
    height: 20px;
    fill:rgba(255, 255, 255, .6);
    display: inline-block;
}

header img{
    max-width: 100px;
}

@media only screen and (min-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }

    header img {
        max-width: 80px;
    }

    header nav {
        order: 1;
        width: 100%;
        margin-top: 20px;
    }

    header div.social {
        order: 2;
        width: 100%;
        justify-content: center;
    }

    header div.social a {
        margin: 0 5px;
    }
}