section#portfolio{
    background-color: #31333B;
    padding-bottom: 100px;
  }
  
  section#portfolio h2{
    text-align: center;
  }
  
  .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
  }
  
  section#portfolio a{
    display: block;
    opacity: 1;
    text-align: center;
    left: -50px;
    transition: all .4s linear;
  }
  
  section#portfolio a img{
    display: inline-block;
    margin-bottom: 10px;
    max-width: 100%;
  }
  
  @media only screen and (max-width: 767px) {
    section#portfolio{
      padding-bottom: 50px;
    }
  
    .portfolio-container{
      grid-template-columns: repeat(2, 1fr);
    }
  
    section#portfolio a{
      left: 0;
    }
  }